<h1>Zamówienia</h1>
<div class="search-form">
  <%= search_form_for [:admin, @q] do |form| %>
    <%= form.text_field :address_city_cont, placeholder: "Miasto" %>
    <%= form.text_field :address_last_name_cont, placeholder: "Nazwisko" %>
    <%= form.submit "Szukaj" %>
  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th><%= sort_link(@q, :created_at, "Data utworzenia") %></th>
      <th>Status</th>
      <th>Suma</th>
      <th>Akcja</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= l order.created_at, format: :long %></td>
        <td><%= OrderStateMachine.states_map[order.current_state] %></td>
        <td><%= number_to_currency order.full_cost %></td>
        <td>
          <%= link_to "Edycja", admin_order_show_path(order.id), class: "btn btn-primary btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>