<% (1..9).each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |product| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to products_path(1) do %>
            <%= image_tag "http://www.wakaama.co.nz/imagecache?u=http%3A%2F%2Fs3.wakaama.co.nz%2Fstory%2F1001604%2Fphotos%2FMaungatapu_e.jpg&w=200" %>
          <% end %>
          <div class="caption">
            <h3><%= link_to Faker::Hacker.noun.titleize, product_path(1) %></h3>
            <p><%= simple_format(truncate(Faker::Hacker.say_something_smart, length: 90)) %></p>
            <p class="lead"><%= number_to_currency Faker::Number.decimal(2,2) %></p>
            <p>
              <%= link_to "#", class: "btn btn-primary" do %>
                <%= fa_icon "shopping-basket" %> Dodaj do koszyka
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>