<% @products.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |product| %>
      <div class="col-md-4 product-item" onclick="to_product_preview(this)">
        <div class="thumbnail product-thumb add-to-cart">
          <%= link_to products_path(1) do %>
            <%= image_tag product.photo.url(:medium) %>
          <% end %>
          <div class="caption">
            <h3><%= link_to product.name, product %></h3>
            <p><%= simple_format(product.description.to_s.html_safe, length: 90) %></p>
            <p class="lead"><%= number_to_currency product.price %></p>
            <p>
              <%= link_to add_product_cart_path(product_id: product.id), method: :post, class: "btn btn-primary btn--floating box-shadow-wide preview-meta" do %>
                <%= fa_icon "shopping-basket" %> Dodaj do koszyka
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>