<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h1><%= @product.name %></h1>
      <p class="lead"><%= @product.description %></p>
      <%= simple_format(@product.long_description) %>

      <p class="lead"><%= number_to_currency @product.price %></p>
      <p>
        <%= link_to "#", class: "btn btn-primary" do %>
          <%= fa_icon "shopping-basket" %> Dodaj do koszyka
        <% end %>
      </p>
    </div>
    <div class="col-md-7">
      <%= image_tag @product.photo.url(:medium) %>
    </div>
  </div>
</div>