<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>"> Orchid Beauty</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li <% if [params[:controller], params[:action]] == ["products", "index"] %> class="active" <% end %>> <%= link_to "Start", root_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "privacy"] %> class="active" <% end %>> <%= link_to "Polityka prywatności", privacy_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "terms"] %> class="active" <% end %>> <%= link_to "Regulamin", terms_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "shipping"] %> class="active" <% end %>> <%= link_to "Dostawa", shipping_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "about"] %> class="active" <% end %>> <%= link_to "O sklepie", about_path %> </li>
      <% if current_user %>
        <li class="nav-item"><%= link_to "Moje konto", account_show_path, method: :get, class: 'nav-link' %> </li>
        <li class="nav-item"><%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, class: 'nav-link' %> </li>
      <% else %>
        <li class="nav-item"><%= link_to "Logowanie", new_user_session_path, class: 'nav-link' %> </li>
        <li class="nav-item"><%= link_to "Rejestracja", new_user_registration_path, class: 'nav-link' %> </li>
      <% end %>
      <li>
        <%= link_to cart_path do %>
          <%= fa_icon "shopping-basket" %>
          <%= current_cart.line_items.map { |e| e.quantity }.sum %>
          produktów za
          <%= number_to_currency(current_cart.line_items.map { |e| e.full_price}.sum) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>