<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-brand navbar-header">
      <a class="navbar-brand navbar-header" href="<%= root_path %>"> Orchid Beauty</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li <% if [params[:controller], params[:action]] == ["products", "index"] %> class="active" <% end %>> <%= link_to "Start", root_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "privacy"] %> class="active" <% end %>> <%= link_to "Polityka prywatności", privacy_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "terms"] %> class="active" <% end %>> <%= link_to "Regulamin", terms_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "shipping"] %> class="active" <% end %>> <%= link_to "Dostawa", shipping_path %> </li>
      <li <% if [params[:controller], params[:action]] == ["static", "about"] %> class="active" <% end %>> <%= link_to "O sklepie", about_path %> </li>
    </ul>
  </div>
</nav>