<!DOCTYPE html>
<html>
  <head>
    <title>OrchidBeauty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <h3>Kategorie</h3>
          <ul class="nav nav-sidebar">
            <% Category.all.each do |category| %>
              <li <% if @category == category %> class="active" <% end %>>
                <%= link_to category.name, category_path(category) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>


  </body>
</html>
